/* PALETA DE COLORES 
Azul fuerte: #273C51
Azul claro: #00BEFE
Verde: #59D400
*/

*{
    padding: 0;
    margin: 0;
}

body{background: rgb(255, 255, 255);}



/* ----------------------
        HEADER
    --------------------
*/

body.Login {
    /* Aquí el origen de la imagen */
    background-image: url(../Images/Campo.jpg);
  
    /* Fijar la imagen de fondo este vertical y
      horizontalmente y centrado */
    background-position: center center;
  
    /* Esta imagen no debe de repetirse */
    background-repeat: no-repeat;
  
    /* COn esta regla fijamos la imagen en la pantalla. */
    background-attachment: fixed;
  
    /* La imagen ocupa el 100% y se reescala */
    background-size: cover;
  
    /* Damos un color de fondo mientras la imagen está cargando  */
    background-color: #464646;
  }



  body.Login .container{
    max-width:320px;
    width:90%;
    background-color: rgba(0,0,0,0.6) !important;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:50%;
    left:50%;
    color:#fff;
    box-shadow:3px 3px 4px rgba(0,0,0,0.2);
}


  

    
/* ----------------------
        HEADER
    --------------------
*/

header{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,207cca+35,207cca+35,2989d8+50,00befe+100 */
    background: #00BEFE; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 0%, #207cca 35%, #207cca 35%, #2989d8 50%, #00befe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 0%,#207cca 35%,#207cca 35%,#2989d8 50%,#00befe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 0%,#207cca 35%,#207cca 35%,#2989d8 50%,#00befe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#00befe',GradientType=0 ); /* IE6-9 */
}

header.container-fluid.bg-info.d-flex{
    margin: 0;
    padding: 0;
}

.contendor_curveado{
    margin: 0;
    padding: 0;
    border-top-right-radius: 100px 250px;
    border-bottom-right-radius: 100px 250px;
    background-color: #273C51;
}
.logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 250px;
    float: left;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 20px;
}

.container .col-4{
    margin: auto;
    padding: 3rem 0;
    text-align: center;
}

.container a#configuration{
    font-size: 1rem;
    padding: 0 1rem;
    color: rgb(255, 255, 255);
    text-decoration:none;
    border-bottom:3.5px dotted #59D400;
}
.container p#Tiempo{
    margin: 1rem 0;
    color: rgb(255, 255, 255);
}

.container p#Tiempo span{
    padding: 1rem;
}

/* ----------------------
        
    --------------------
*/

/* ----------------------
        VISTA MUESTRAS
    --------------------
*/

.btn.green{
    background-color: #59D400;
    color: #fff;
    font-weight: bold;
    border: none;
}

.Muestras thead.table, .Muestras .form-inline button,.Muestras .form-inline input, .Muestras .dropdown button {
    background-color: rgb(194, 204, 204);
}

.Muestras .form-inline  i.fas.fa-search, .Muestras .dropdown button{
    color: black;
}
.Muestras .form-inline button,.Muestras .form-inline input, .Muestras .dropdown button{
    border: none;
}

.Muestras thead.table#sin-color{
    background-color: white;
}

