body{
    background: url(/proyectoBayer/Imagenes/Campo.jpg) no-repeat center center;
    background-size: cover;
}

.main-section{
    margin: 0 auto;
    margin-top:25%;
    padding: 0;
}

.modal-content{
    background-color:white;
    opacity: .86;
    padding: 0 20px;
}

.logo-img{
    margin-top: 20px;
    margin-bottom: 35px;
}

.logo-img img{
    width:100px;
    height: 100px;
}