<!-- Modal -->
<div class="modal fade" id="staticBackdrop-Contenedor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregar Contenedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            

        <div class="d-flex justify-content-center h-100">
            <!-- Main Content -->
            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                <form>
                    <input type="hidden" id="_csrf_modal" value="<%= csrfToken %>" >
                    <div class="row">
                        <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12">
                            <div class="form-floating small">
                                <!-- En el value deberá ir el número del Contenedor dependiendo el idContenedor seleccionado Ejemplo: Estante 1 -->
                                <input type="number" name="NoContenedor" class="form-control text-center" id="NoContenedor">
                                <!-- En el label deberá ir la el tipo de Contenedor dependiendo el idContenedor seleccionado Ejemplo: Estante -->
                                <label for="floatingInputGrid">No Contenedor</label>
                            </div>
                        </div>
        
                        <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12 small">
                            <div class="form-floating small">
                                <input type="text" name="Clasificacion" class="form-control" id="Clasificacion" required>
                                <label for="floatingInputGrid">Tipo de Contenedor</label>
                            </div>
                        </div>
                    </div><!--/ Row-->
                </form>
            </div> <!-- /Main Content -->
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn green" id="Registrar">Registrar Contenedor</button>
        </div>
    </div>
    </div>
</div><!-- End Modal -->