<!-- Modal -->
<div class="modal fade" id="staticBackdrop-StatusMuestra" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modificar Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        <div class="d-flex justify-content-center h-100">
            <!-- Main Content -->
            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                <form>
                    <div class="row">
        
                        <div class="col-lg-offset-0 col-lg-8 col-md-8 col-xs-12 col-sm-12">
                            <select class="form-control" name="StatusMuestra" id="select">
                                <option value="1">Activo</option>
                                <option value="0"  selected>Inactivo</option>
                            </select>
                        </div>

                        <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12 small">
                            <div class="form-floating small">
                                <textarea class="form-control" name="ReporteSituacion" placeholder="Reporte de situación" id="floatingTextarea" style="height: auto">
                                </textarea>
                                <label for="floatingTextarea">Reporte de situación</label>
                            </div>
                        </div>

                    </div><!--/ Row-->
                </form>
            </div> <!-- /Main Content -->
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn green">Reportar situación</button>
        </div>
    </div>
    </div>
</div><!-- End Modal -->