<!-- Modal -->
<div class="modal fade" id="staticBackdrop-StatusMuestra" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modificar Status</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

        <div class="d-flex justify-content-center h-100">
            <!-- Main Content -->
            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                <form>
                    <div class="row">
    
                        <input id="idMuestra" type="hidden">
                        <input type="hidden" id="_csrf_modal" value="<%= csrfToken %>" >

                        <div class="col-lg-offset-0 col-lg-8 col-md-8 col-xs-12 col-sm-12">
                            <select class="form-control" name="StatusMuestra" id="status" onchange="showInp()">
                                <option value='1'>Activo</option>
                                <option value='0'>Inactivo</option>
                            </select>
                        </div>
                       
                        <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12 small" id="report">
                            <div class="form-floating small">
                                <textarea class="form-control" name="ReporteSituacion" placeholder="Reporte de situación" id="reporte" style="height: auto">
                                </textarea>
                                <label for="floatingTextarea">Reporte de situación</label>
                            </div>
                        </div>

                    </div><!--/ Row-->
                </form>
            </div> <!-- /Main Content -->
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="reportar" class="btn green" >Reportar situación</button>
        </div>
    </div>
    </div>
    <script>
        function showInp(){
            var getSelectValue = document.querySelector("#status").value;
            if(getSelectValue == 0){
              document.querySelector("#report").classList.add("mostrar");
              document.querySelector("#report").classList.remove("ocultar");
            }else{
              document.querySelector("#report").classList.add("ocultar");
              document.querySelector("#report").classList.remove("mostrar");
            }
      }
      </script>
</div><!-- End Modal -->

