<!-- Modal -->
<div class="modal fade" id="staticBackdrop-Formulacion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Agregar Contenedor</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


        <div class="d-flex justify-content-center h-100">
            <!-- Main Content -->
            <div class="col-xs-12 col-lg-12 col-sm-12 col-md-12">
                <form>
                    <div class="row">
        
                        <div class="col-lg-offset-0 col-lg-3 col-md-3 col-xs-12 col-sm-12">
                            <div class="form-floating small">
                                <input type="text" name="Codigo" class="form-control" id="floatingInputGrid">
                                <label for="floatingInputGrid">Código</label>
                            </div>
                        </div>

                        <div class="col-lg-offset-0 col-lg-9 col-md-9 col-xs-12 col-sm-12 small">
                            <div class="form-floating small">
                                <input type="text" name="Formulacion" class="form-control" id="floatingInputGrid">
                                <label for="floatingInputGrid">Formulación</label>
                            </div>
                        </div>
        
                        <div class="col-lg-offset-0 col-lg-12 col-md-12 col-xs-12 col-sm-12 small">
                            <div class="form-floating small">
                                <textarea class="form-control" name="DescripcionFormulacion" placeholder="Descripción de la Formulación" id="floatingTextarea" style="height: auto">
                                </textarea>
                                <label for="floatingTextarea">Descripción de la Formulación</label>
                            </div>
                        </div>

                    </div><!--/ Row-->
                </form>
            </div> <!-- /Main Content -->
        </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn green">Registrar Nuevo Tipo de Formulación</button>
        </div>
    </div>
    </div>
</div><!-- End Modal -->