

            <div class="row">
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="form-floating">
                        <input type="text" name="CodigoMuestra" class="form-control" id="floatingInputGrid" placeholder="Código de Muestra">
                        <label for="floatingInputGrid">Código de Muestra</label>
                    </div>
                </div>

                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="form-floating">
                        <input type="text" name="SP" class="form-control" id="floatingInputGrid" placeholder="SP de Muestra">
                        <label for="floatingInputGrid">SP de Muestra</label>
                    </div>
                </div>

                <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-6">
                    <div class="form-floating">
                        <input type="text" name="NombreMuestra" class="form-control" id="floatingInputGrid" placeholder="Nombre de Muestra">
                        <label for="floatingInputGrid">Nombre de Muestra</label>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="number" name="Cantidad" class="form-control" id="floatingInputGrid" placeholder="Cantidad">
                        <label for="floatingInputGrid">Cantidad (ml)</label>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="text" name="Concentracion" class="form-control" id="floatingInputGrid" placeholder="Concentracion (ml)">
                        <label for="floatingInputGrid">Concentracion (ml)</label>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="text"  class="form-control text-center" id="floatingInputGrid" value="Activa" disabled>
                        <label for="floatingInputGrid">Status de Muestra</label>
                        <!-- En el value deberá ir el Status de Muestra -->
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <select class="form-control" id="select">
                        <option selected value="">Seleccionar Tipo de Muestra</option>
                        <!-- Posibilidad: Se agregará un forEach o algo similar para que muestre los tipos de contenedores registrados
                            en la base de datos -->
                            <!-- en el value debe estár idTipoDeMuestra -->
                        <option value="1">Comercial</option>
                        <option value="2">Experimental</option>
                    </select>
                </div>
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="text"  class="form-control" id="floatingInputGrid" value="Comercial" disabled>
                        <label for="floatingInputGrid">Tipo de Muestra</label>
                        <!-- En el value deberá ir el tipo de Muestra dependiendo el idTipoDeMuestra seleccionado Ejemplo: idTipoDeMuestra = 1 -> Comercial -->
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <select class="form-control" id="select" name="CodigoFormulacion">
                        <option selected value="">Seleccionar Tipo Formulación</option>
                        <!-- en el value debe estár CódigoFormulación -->
                        <option value="TC">TC</option>
                        <option value="TK">TK</option>
                        <option value="EC">EC</option>
                        <option value="EO">EO</option>
                        <option value="EW">EW</option>
                        <option value="EG">EG</option>
                        <option value="ME">ME</option>
                        <option value="SC">SC</option>
                        <option value="CS">CS</option>
                        <option value="SL">SL</option>
                        <option value="SP">SP</option>
                        <option value="SG">SG</option>
                        <option>idK</option>
                    </select>
                </div>
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="text" class="form-control" id="floatingInputGrid" value="CONCENTRADO EMULSIONABLE" disabled>
                        <label for="floatingInputGrid">Formulación</label>
                        <!-- En el value deberá ir la Formulación dependiendo el código de Formulación seleccionado Ejemplo: EC -> CONCENTRADO EMULSIONABLE -->
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <!-- En textarea deberá ir la descripción Formulación dependiendo el código de Formulación seleccionado Ejemplo: EC -> CONCENTRADO EMULSIONABLE -->
                        <textarea class="form-control" placeholder="Descripción de la Formulación" id="floatingTextarea" style="height: auto" disabled>Líquido homogéneo para ser aplicado como emulsión, luego de ser diluido en agua.</textarea>
                        <label for="floatingTextarea">Descripción de la Formulación</label>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="form-floating">
                        <input type="text" name="LoteMuestra" class="form-control" id="floatingInputGrid" placeholder="Lote de Muestra">
                        <label for="floatingInputGrid">Lote de Muestra</label>
                    </div>
                </div>
                <!-- <div class="col-lg-offset-0 col-lg-2 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="number" name="NoBodega" class="form-control text-center" id="floatingInputGrid" placeholder="Número de Bodega">
                        <label for="floatingInputGrid">Número de Bodega</label>
                    </div>
                </div> -->

                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="text"  class="form-control" id="floatingInputGrid" value="Insecticida" disabled>
                        <label for="floatingInputGrid">Uso de Muestra</label>
                        <!-- En el value deberá ir el Uso de Muestra dependiendo el idContenedor seleccionado Ejemplo: idTipoDeMuestra = 1 -> Comercial -->
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <select class="form-control" id="select">
                        <option selected value="">Seleccionar Tipo de Contenedor</option>
                        <!-- Posibilidad: Se agregará un forEach o algo similar para que muestre los tipos de contenedores registrados
                            en la base de datos -->
                            <!-- en el value debe estár idContenedor -->
                        <option value="1">Estante</option>
                        <option value="2">Refrigerador</option>
                        <option value="">Agregar nuevo contenedor</option>
                    </select>
                </div>
                <div class="col-lg-offset-0 col-lg-3 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="text" class="form-control" id="floatingInputGrid" value="Estante" disabled>
                        <label for="floatingInputGrid">Tipo Contenedor</label>
                        <!-- En el value deberá ir la clasificación del Contenedor dependiendo el idContenedor seleccionado Ejemplo: Estante -->
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-3 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <!-- En el value deberá ir el número del Contenedor dependiendo el idContenedor seleccionado Ejemplo: Estante 1 -->
                        <input type="number" class="form-control text-center" id="floatingInputGrid" value="1" disabled>
                        <!-- En el label deberá ir la el tipo de Contenedor dependiendo el idContenedor seleccionado Ejemplo: Estante -->
                        <label for="floatingInputGrid">Estante</label>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="date" name="FechaFabricacion" class="form-control" id="floatingInputGrid" placeholder="Fecha de Fabricación">
                        <label for="floatingInputGrid">Fecha de Fabricación</label>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="date" name="FechaIngreso" class="form-control" id="floatingInputGrid" placeholder="Fecha de Ingreso">
                        <label for="floatingInputGrid">Fecha de Ingreso</label>
                    </div>
                </div>
                <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
                    <div class="form-floating small">
                        <input type="date" name="FechaCaducidad" class="form-control" id="floatingInputGrid" placeholder="Fecha de Caducidad">
                        <label for="floatingInputGrid">Fecha de Caducidad</label>
                    </div>
                </div>
                <!-- <div class="col-lg-offset-0 col-xs-12 col-sm-6">
                    <div class="form-floating">
                        <input type="text" name="SP" class="form-control" id="floatingInputGrid" placeholder="SP de Muestra">
                        <label for="floatingInputGrid">SP de Muestra</label>
                    </div>
                </div>
            
                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="form-floating">
                        <label for="exampleInputEmail1">Middle Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Middle Name">
                    </div>
                </div>

                <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                    <div class="form-floating">
                        <label for="exampleInputEmail1">Last Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
                    </div>
                </div>

            <div class="col-lg-offset-0 col-lg-3 col-xs-12 col-sm-6">
                <div class="form-floating">
                    <label for="Gender" class="select">Gender</label>
                    <select class="form-control">
                        <option>Male</option>
                        <option>Female</option> 
                    </select>
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-3 col-xs-12 col-sm-12">
                <div class="form-floating">
                    <label for="Gender" class="select">Relationship to victim</label>
                    <select class="form-control">
                        <option>Self</option>
                        <option>Family Member that Witnessed the Crime</option> 
                        <option>Other</option> 
                    </select>
                </div>
            </div>
            <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-12">
                <div class="form-floating">
                    <label for="Gender" class="select">Does the claimant have a Social Security Number?</label>
                    <select class="form-control">
                        <option>Yes</option>
                        <option>No</option> 
                    </select>
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-3 col-xs-12 col-sm-6">
                <div class="form-floating">
                    <label for="exampleInputEmail1">Social Security #</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="SS#">
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-3 col-xs-12 col-sm-6">
                <div class="form-floating">
                    <label for="exampleInputEmail1">Date of Birth</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Date of Birth">
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-6 col-xs-12">
                <div class="form-floating">
                    <label for="exampleInputEmail1">Mailing Address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Street Number and Name or P.O. Box">
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-12">
                <div class="form-floating">
                    <label for="exampleInputEmail1">Address 2</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Apartment or Unit #">
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
                <div class="form-floating">
                    <label for="exampleInputEmail1">City</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Sacramento">
                </div>
            </div>

           

            <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                <div class="form-floating">
                    <label for="exampleInputEmail1">Zip</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="95822">
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                <div class="form-floating">
                    <label for="exampleInputEmail1">Home Telephone</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="(916) 345-6783">
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                <div class="form-floating">
                    <label for="exampleInputEmail1">Work Telephone</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="(916) 345-0000 x123">
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                <div class="form-floating">
                    <label for="exampleInputEmail1">Cell Phone</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="(916) 345-2345">
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-4 col-xs-12 col-sm-6">
                <div class="form-floating">
                    <label for="exampleInputEmail1">E-Mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="andrey@mylife.com">
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-2 col-xs-12 col-sm-6">
                <div class="form-floating">
                    <label for="Gender" class="select">E-Mail Type</label>
                    <select class="form-control">
                        <option>Personal</option>
                        <option>Work</option> 
                    </select>
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-12 col-xs-12">
                <div class="checkbox">
                    <label>
                    <input type="checkbox" value="">
                    From the date of the crime to now, has the claimant been in prison, on probation, on parole or post-release community supervision because of a felony? </label>
                </div>
            </div>

            <div class="col-lg-offset-0 col-lg-12 col-xs-12">
                <div class="checkbox">
                    <label>
                    <input type="checkbox" value="">
                    Is the claimant required to register as a sex offender?
                    </label>
                </div>
            </div>

            <div class="bg-warning col-lg-offset-0 col-lg-12 col-xs-12">
                <div class="checkbox">
                    <label>
                    <input type="checkbox" value="">
                    Check This Box if You Are a Parent/Guardian Applying on Behalf of a Minor Witness to Violent Crime. Minor witnesses are eligible for mental health treatment only. Claimant is under age 18, a witness in close proximity to a violent crime, but is neither the crime victim nor related to the victim. Provide available victim, crime or other information in remaining sections. 
                    </label>
                </div>
            </div> -->
        </div><!--/ Row-->
        <hr>
