<header class="container-fluid bg-info d-flex">
    
    <div class="contendor_curveado">
        <div class="logo">
            <section id="logo">
                <img src="../Images/LogoBlanco.png" alt="Logo" width="150" height="150">
            </section>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <p class="text-white p-5  fs-3">Nombre usuario </p>
                <div id="centro">
                    <a class="boton" href="/Muestras" role="button">Muestra</a>
                    <a class="boton" href="/Muestras/Movimientos" role="button">Movimientos</a>
                    <a class="boton" href="/Usuarios" role="button">Usuarios</a>
                </div>
            </div>
            <div class="col-2 small">
                <button type= "button" class="boton">Cerrar sesión</button>
                <p id="configuration" href="">Alertas y Roles</p>
                <p id="Tiempo">Fecha   :   Hora</p>
            </div>
        </div>
    </div>
</header>