<header class="container-fluid bg-info d-flex">
    
    <div class="contendor_curveado">
        <div class="logo">
            <section id="logo">
                <img src="../Images/LogoBlanco.png" alt="Logo" width="150" height="150">
            </section>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <p class="text-white p-5  fs-3">Nombre usuario </p>
                <div id= "centro" >
                    <button type= "button" class = "boton" onclick="window.open('/Muestras')">Muestra</button>
                    <button type= "button" class = "boton" onclick="window.open('/Muestras/Movimientos')">Movimientos</button> 
                    <button type= "button" class = "boton" onclick="window.open('/Usuarios')">Usuarios</button>
                </div>
            </div>
            <div class="col-2">
                <button type= "button" class="boton">Cerrar sesión</button>
                <p id="configuration" href="">Configuración</p>
                <p id="Tiempo"><span>Fecha</span> : <span>Hora</span></p>
            </div>
        </div>
    </div>
</header>