body{
    background: azure;
}

header{
    
    margin: 0 auto;
    border-radius: 0 0 0 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1f4e79+0,1f4e79+18,176a9a+18,176a9a+18,0f86bb+18,0f86bb+18,08a2dd+18,08a2dd+18,00befe+18,00befe+100 */
    background: #1f4e79; /* Old browsers */
    background: -moz-linear-gradient(left,  #1f4e79 0%, #1f4e79 18%, #176a9a 18%, #176a9a 18%, #0f86bb 18%, #0f86bb 18%, #08a2dd 18%, #08a2dd 18%, #00befe 18%, #00befe 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #1f4e79 0%,#1f4e79 18%,#176a9a 18%,#176a9a 18%,#0f86bb 18%,#0f86bb 18%,#08a2dd 18%,#08a2dd 18%,#00befe 18%,#00befe 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #1f4e79 0%,#1f4e79 18%,#176a9a 18%,#176a9a 18%,#0f86bb 18%,#0f86bb 18%,#08a2dd 18%,#08a2dd 18%,#00befe 18%,#00befe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f4e79', endColorstr='#00befe',GradientType=1 ); /* IE6-9 */

}

#logo{
    width: 320px;
    float: left;
    margin-top: 20px;
    margin-left: 80px;

}