<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head.ejs') %>
    
    <body>
        <%- include('includes/header.ejs') %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <br><br>
                    <p style="text-align: center; font-size: 1.5em;"><strong>Agregar Alarma</strong></p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="table-responsive">
                        <table class="table .table-borderless caption-top align-middle">
                            <thead class="table">
                                <tr style="text-align: center;">
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Condición*</th>
                                    <th scope="col">Color</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="text-align: center;">
                                    <td><input class="form-control" id="nombre_alerta" placeholder="Alerta1"></td>
                                    <td><input class="form-control" id="condition_alerta" placeholder="50"></td>
                                    <td><input type="color" id="color_alerta" value="#563d7c" title="Choose your color"></td>
                                </tr>
                            </tbody>
                        </table>
                        <p style="font-size: 0.7em;">*Días previos a la fecha de caducidad</p>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <br>
                    <div style="text-align: center;">
                        <a class="btn green" href="/AlertasRoles" role="button">Crear Nueva Alarma</a>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>