<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>
    
    <br><br>
    <p style="text-align: center; font-size: 1.5em;"><strong>Agregar Usuario</strong></p>
    <br>
    <div class= "container-fluid"> 
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <tr style="text-align: center;">
                    <th scope="col"><strong>Nombre Rol</strong> </th>
                </tr>
                <div class="row">
                    <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>" >
                    <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-12">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="nombres" placeholder="Código de Muestra">
                            <label for="floatingInputGrid">Nombre o nombres</label>
                        </div>
                    </div>
                </div>
                    <br>
                    <div>
                        <th scope="col"><strong>Apellidos</strong></th>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="apellidos" placeholder="Código de Muestra">
                                <label for="floatingInputGrid">Apellidos</label>
                            </div>
                        </div>
            
                    </div>
                        <br>
                        <tr>
                            <th scope="col"><strong>Correo electrónico</strong></th>
                        </tr>
                        <div class="row">
                            <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="correo" placeholder="Código de Muestra">
                                    <label for="floatingInputGrid">...@bayer.com</label>
                                </div>
                            </div>
                        </div>
                     <br>
                <tr>
                    <th scope="col"><strong>Contraseña</strong></th>
                </tr>
                <div class="row">
                    <div class="col-lg-offset-0 col-lg-12 col-xs-12 col-sm-12">
                        <div class="form-floating">
                            <input type="text" name="CodigoMuestra" class="form-control" id="password" placeholder="Código de Muestra">
                            <label for="floatingInputGrid">********</label>
                        </div>
                    </div>
                </div>
                    <br>
                    <tr>
                        <th scope="col"><strong>Rol</strong></th>
                    </tr>
                    <div class="row">
                        <div class="col-lg-offset-0 col-lg-6 col-xs-12 col-sm-6">
                            <select class="btn btn-secondary dropdown-toggle" type="button" id="rol" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <option value="Administrador">Administrador</option>
                                <option value="Empleado Normal">Empleado Normal</option>
                              </select>
                            <br>
                     </div>
                </div>
            <div class="col-2"></div>
        </div>
    </div>
    
            
            <div style="text-align: center;">
                <a class="btn green"  role="button" id="submit">Agregar usuario</a>
            </div>
    <script>
        $("#submit").click(function(){
  $.post("/Usuarios/Nuevo",
  {
    "nombres":  $("#nombres").val(),
    "apellidos": $("#apellidos").val(),
    "correo": $("#correo").val(),
    "password": $("#password").val(),
    "rol": $("#rol").val(),
    "_csrf": $("#_csrf").val(),
  },
  function(data, status){
    alert("Registro exitoso");
    window.location.href = '/Usuarios/'
  });
}); 
    </script>
</body>
</html>


