<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <a class="btn green" href="/Usuarios/Nuevo" role="button">Agregar</a>

    <div class="container">
        <div class="row border border-primary rounded">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            <a class="btn green" href="/Usuarios/1" role="button">Detalle</a>
        </div>
        </div>
        <div class="row border border-primary rounded">
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
          </div>
          <div class="row border border-primary rounded mt-4">
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
          </div>
          <div class="row border border-primary rounded">
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
            <div class="col-sm">
              One of three columns
            </div>
          </div>
      </div>
</body>
</html>