<!doctype html>
<html>
  <%- include('partials/head.ejs') %>
  
<body>

  <%- include('partials/header.ejs') %>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <div class="container-fluid">
      <div class="row">
          <div class="col-2"><br></div>
          <div class="col-8">
            <div class="table-responsive">
                <table class="table table-bordered caption-top align-middle">
                  <thead class="table">
                      <tr style="text-align: center;">
                        <th colspan="2"><h3>Roles</h3></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr style="text-align: center;">
                        <td>Administrador</td>
                        <td>Usuario</td>
                      </tr>
                    </tbody>
                </table>
              </div>

          </div>
          <div class="col-2"><br></div>


          <div class="col-2"><br></div>
          <div class="col-8">
              <div class="table-responsive">
                <table class="table table-bordered caption-top">
                    <thead class="table-light">
                      <tr style="text-align: center;">
                        <th scope="col" colspan="3" style="background: #c0c1ce;">Alertas</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" style="background: #FF0000;">  </th>
                        <td>Producto cercano a caducar</td>
                        <td>Existencia del producto</td>
                      </tr>
                      <tr>
                        <th scope="row" style="background: #f0b81e;">  </th>
                        <td>Producto nivel medio a caducar</td>
                        <td>Existencia del producto</td>
                      </tr>
                      <tr>
                        <th scope="row" style="background: #f0ecec;">  </th>
                        <td>Otro nivel de alerta</td>
                        <td>Existencia del producto</td>
                      </tr>
                    </tbody>
                </table>
              </div>
          </div>
          <div class="col-2"><br></div>
      </div>
  </div>

  </body>
</html>