<!DOCTYPE html>
<html>
    <%- include('includes/head.ejs') %>
<body>
    <%- include('includes/header.ejs') %>

    <br>
    <br>
    <div class="container ">
      <div class="row">
        <div class="col-sm">

        <a class="btn green" href="/Usuarios/Nuevo" role="button">Agregar Usuario</a>
          
        </div>
        <div class="col-md-4">
          <form class="form-inline">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <div class="input-group">
                <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                <span><input class="form-control" type="search" placeholder="Search" aria-label="Search"></span>
            </div>
          </form>
        </div>
        <div class="col">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filtrar por
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Nombre</a>
              <a class="dropdown-item" href="#">Correo</a>
              <a class="dropdown-item" href="#">Rol</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>

    <div class="container">
        <div class="row border border-primary rounded">
          <div class="col-sm">
            Miguel Reyes
          </div>
          <div class="col-sm">
            miguelr@hotmail.com
          </div>
          <div class="col-sm">
            Administrador
          </div>
          <div class="col-sm">
            <a class="btn green" href="/Usuarios/1" role="button">Modificar Usuario</a>
        </div>

        </div>
        <div class="row border border-primary rounded mt-4">
            <div class="col-sm">
              Nombre
            </div>
            <div class="col-sm">
              Correo
            </div>
            <div class="col-sm">
              Rol
            </div>
            <div class="col-sm">
              <a class="btn green" href="/Usuarios/2" role="button">Modificar Usuario</a>
            </div>
          </div>
          <div class="row border border-primary rounded mt-4">
            <div class="col-sm">
                Nombre
            </div>
            <div class="col-sm">
                Correo
            </div>
            <div class="col-sm">
                Rol
            </div>
            <div class="col-sm">
                <a class="btn green" href="/Usuarios/3" role="button">Modificar Usuario</a>
            </div>
          </div>
          <div class="row border border-primary rounded mt-4">
            <div class="col-sm">
                Nombre
            </div>
            <div class="col-sm">
                Correo
            </div>
            <div class="col-sm">
                Rol
            </div>
            <div class="col-sm">
                <a class="btn green" href="/Usuarios/4" role="button">Modificar Usuario</a>
            </div>
          </div>
      </div>
</body>
</html>