<!doctype html>
<html>
  <%- include('includes/head.ejs') %>
  
<body>

  <%- include('includes/header.ejs') %>


    <div class="container-fluid">
      <div class="row">
          <div class="col-2"><br></div>
          <div class="col-8">
            <br><br><br>
              <div class="table-responsive">
                <table class="table table-bordered caption-top">
                    <thead class="table-light">
                      <tr style="text-align: center;">
                        <th scope="col" colspan="3" style="background: #c0c1ce;">Alertas</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" style="background: #FF0000;">  </th>
                        <td>Producto cercano a caducar</td>
                        <td>Existencia del producto</td>
                      </tr>
                      <tr>
                        <th scope="row" style="background: #f0b81e;">  </th>
                        <td>Producto nivel medio a caducar</td>
                        <td>Existencia del producto</td>
                      </tr>
                      <tr>
                        <th scope="row" style="background: #f0ecec;">  </th>
                        <td>Otro nivel de alerta</td>
                        <td>Existencia del producto</td>
                      </tr>
                    </tbody>
                </table>
              </div>
          </div>
          <div class="col-2"><br></div>
      </div>
  </div>

  </body>
</html>