<!doctype html>
<html lang="en">
  <head>
    <title>BAYER inventario</title>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <scriptsrc="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <linkrel="stylesheet"href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <scriptsrc="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">

    <link rel="stylesheet" href="../css/LoginFondo.css">

  </head>

  <body>

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <form class="col-12">
                <div class="col-sm-8 main-section">
                    <div class="col-12 logo-img">
                        <img src="../Images/Logo1.png">
                    </div>
                </div>
                <br><br>
                <h2 class="sr-only">Login Form</h2>
                <div class="form-group" id="user-group">
                    <input type="text" class="form-control" placeholder="Correo"/>
                </div>
                <div class="form-group" id="contrasena-group">
                    <input type="password" class="form-control" placeholder="Contraseña"/>
                </div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Ingresar</button></div>
                <div class="col-12 forgot">
                    <a href="#">¿Olvidó su contraseña?</a>
                </div>
            </form>
        </div>
        
    </div>

  </body>
</html>